CMSSW_*
MCGeneration
data/cmsMC_private
data/cmsRD/Parking*
data/cmsRD/Run*
data/cmsRD/skimmed
data/_root
.sys.v*
*/.sys.v*
*/*/.sys.v*
*.root
*.pyc
tmp
*/tmp
*/*/tmp
.ipynb_checkpoints
Combine/results/*
*.gz
*.out
*.log
*.aux
documents/AN-19-162/*
!documents/AN-19-162/README.md
